
.backgroundImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./background_image.png);
    height :100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    background-color:white;
    height: 100vh;
    width:50%;
    text-align: center;
    font-family: 'UnitedSansReg-Heavy',Montserrat-Bold, sans-serif;;
    text-transform: uppercase;
}

h1{
    padding-top: 250px;
}

a{
    text-decoration: none;
}